SPRING_PROFILES_ACTIVE=docker

MYSQL_ROOT_PASSWORD=root_password_here
MYSQL_DATABASE=vehicle_db
MYSQL_USER=rick
MYSQL_PASSWORD=change_me_in_production

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

JWT_SECRET=c2VjcmV0LWtleS1mb3ItdmVoaWNsZS1tYW5hZ2VtZW50LXN5c3RlbS0yMDI2LWp3dC10b2tlbg==
